.books {
  margin-top:30px;
  justify-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill,400px);
  /* grid-template-columns: repeat(auto-fill,minmax(333px,1fr)); */

  grid-auto-rows: 340px;
  grid-gap: 30px 5px;
    
  }
    .book {
      background: #fff;
      position: relative;
      border-radius: 5px;
      margin: 20px;
      width:40%;
      min-width: 340px;      
      color: #333;
      background-color: rgb(165, 230, 230);
      background-color: white;
      border: 1px solid rgb(0,0,0,0.2);

    }
    
    .book h3 {
      margin-bottom: 5px;
      font-size: 1rem;
      position: absolute;
      top: -1%;
      right: 5%;
      color:#FAC539
    }
    
    .book h2 {
      margin-top: 1px;
      margin-bottom: 30px;
      font-size: 1.4rem;
    }
  
    .book button{
      background: none;
      border: none;  
    padding:10px}
  
    .book button:hover{
      background-color: rgba(124, 209, 209, 0.863);
      cursor: pointer;
      border-radius: 3px;
    }
  
    .details {
      text-align: left;
      padding:20px
    }
  
    .fa-crown{
      font-size: x-large;
      color: whitesmoke;
    }
  
    .clicked{
      font-size: x-large;
      color:#fcc42f
    }
    .book-title{
      background-color: #cd0101;
      border-radius: 2px;
      height: 95px;
      color: #fcc42f;
    }

     @media only screen and (max-width:595px){
       .books{
         margin-top:10px;
         grid-template-columns: 1fr;
       }
      .book{
        width:90%;
          min-width: 200px;
          margin:20px 0 20px 0
      } 
    }